:root {
  --primary-text-color: #757575;
  --hero-bg-color: #c4c4c4;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --darck-bg-color: #2f303a;
  --icon-color: #afb1b8;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
